.header{
    margin-bottom:10px;
    border:1px;
    border-color: black;
    border-style: solid;
    overflow:hidden;
    clear:both;
    width:960px;
    margin:auto;
}

.main-content{
    width:960px;
    margin:auto;
    background: white;
    border: 3px;
    border-color: blue;
    border-style: solid;
    overflow: hidden;
    clear: both;
}

.footer {
    padding:10px;
    text-align: center;
    background:violet;
    border-style:solid;
}

.h1-div{
    float:left; 
    overflow: hidden;
    background:lightblue;
    clear:both;
}

.nav{
    float:right;
    margin-top: 25px;
}

.main-content-container{
    background:gray
}

#profile-pic{
    float:left;
}